.navbar-nav .nav-link:hover {
    color: white;
    background-color: #5BBAD5;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  h2 {
    font-size: 70px;
    font-family: Impact, 'Arial Bold', sans-serif;
    justify-content: space-around;
    font-style: bold;
  }
  
  p {
    .justified-text {
        text-align: justify;
        font-size: 100px;
        color: #5BBAD5;
       
      }
    }


    .footer {
        position: fixed;
        background-color: #5BBAD5;
        color: white;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        bottom: 0;
        width: 100%;
      }
      
      .contact-info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
      }
      
      .contact-info span {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      
      .contact-info img,
      .social-icon img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
      
      .social-icon a {
        display: inline-block;
      }
      
      a {
        color:aliceblue 
         
      }
      
      a:hover {
        color: #1a73e8; 
        text-decoration: underline; 
      }
    
     